body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  margin-top: auto;
}

a {
  color: #00B7FF;
}
