body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  background-color: white;
}

.navbar {
  background-color: rgb(250, 218, 75);
}

.input-text{
  margin-top:30px;
  width:100%;
  padding:0px 40px;
  box-sizing:border-box;
  position:relative;
}

.input-text input{
  width:100%;
  height:57px;
  background-color:#eff1f4;
  outline:none;
  border:none;
  border-radius:7px;
  padding:0px 40px;
  box-sizing:border-box;
  font-size:16px;
}

.flat-button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  padding: 0;
}


.footer {
  margin-top: auto;
}

a {
  color: #00B7FF;
}
