<%- include("../partials/header") %>
    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
            <h2>Title</h2>
            <p><h4>Description</h4></p>
        </div>
    </main>


    <%- include("../partials/footer") %>