<%- include("../partials/header") %>
    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
            <h2><%= scramble.title %></h2>
            <p><h4><%= scramble.description %></h4></p>
        </div>
    </main>


    <%- include("../partials/footer") %>