<%- include("../../partials/header") %>
<main class="container">
    <div class="flex-wrapper">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email or username" aria-label="Search" aria-describedby="basic-addon1">
            <button type="button" class="btn btn-outline-primary">Search</button>
        </div>

        <div class="bg-light p-5 rounded mt-3">
            <h2>Friends</h2>
            <ul class="list-group list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <img class="rounded-circle shadow-4-strong" alt="avatar" src="/images/resources/default-img.png" style="width: 50px; height: 50px;" />
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Content for list item
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
            </ul>
        </div>
    </div>
</main>
<%- include("../../partials/footer") %>